{% extends 'base.html' %}

{% block title %}Articles{% endblock title %}

{% block content %}
    <div class="card mt-3">
        <div class="card-header">
            <span class="font-weight-bold">{{ article.title }}</span> &middot;
            <span class="text-muted"> by {{ article.author }} |
                {{ article.date }} |
                    {{ article.comments.count }} comments
            </span>
            <span class="float-right">
                {% csrf_token %}
                {% if user_liked_article %}
                    <button id="vote_btn" class="fa fa fa-thumbs-down ml-auto btn btn-outline-danger" onclick="dislike_article()"></button>
                {% else %}
                    <button id="vote_btn" class="fa fa fa-thumbs-up ml-auto btn btn-outline-success" onclick="like_article()"></button>
                {% endif %}
                <script>
                    // This code was taken from https://docs.djangoproject.com/en/1.11/ref/csrf/#ajax to enable csrf token in AJAX
                    function getCookie(name) {
                        let cookieValue = null;
                        if (document.cookie && document.cookie !== '') {
                            const cookies = document.cookie.split(';');
                            for (let i = 0; i < cookies.length; i++) {
                                const cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }

                    function csrfSafeMethod(method) {
                        // these HTTP methods do not require CSRF protection
                        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                    }

                    const csrftoken = getCookie('csrftoken');

                    // Removing Async to stop overlapping
                    // Setting up CSRF header
                    $.ajaxSetup({
                        beforeSend: function(xhr, settings) {
                            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            }
                        },
                        async: false
                    });

                    function like_article() {
                        set_article_liked(true)
                    }

                    function dislike_article() {
                        set_article_liked(false)
                    }

                    function set_article_liked(liked) {
                        const like_button = '<button id="vote_btn" class="fa fa fa-thumbs-up ml-auto btn btn-outline-success" onclick="like_article()"></button>'
                        const dislike_button = '<button id="vote_btn" class="fa fa fa-thumbs-down ml-auto btn btn-outline-danger" onclick="dislike_article()"></button>'
                        let new_button = dislike_button

                        if (liked === false) {
                            new_button = like_button
                        }

                        $($.post(
                            "{% url 'vote' article.id %}",
                            {},
                            function(data, status) {
                                if (status === 'success') {
                                    $('#votes').html($(data).find('#votes').html())
                                    $('#vote_btn').replaceWith(new_button)
                                }
                            },
                            'html',
                        ));
                    }
                </script>
                <span class="ml-2" id="votes">{{ article.likes.count }}</span>
            </span>
        </div>
        <div class="card-body">
            <h4 class="card-title">Contents</h4>
            <textarea readonly rows="{{ article.get_display_rows_count }}" class="form-control card-text mb-3"
                      style="resize: none;">{{ article.body }}</textarea>
            <div class="text-center">
                <p><a class="btn btn-outline-info" href="{% url 'article_edit' article.pk %}">Edit</a> |
                    <a class="btn btn-outline-danger" href="{% url 'article_delete' article.pk %}">Delete</a></p>
                <a class="btn btn-outline-secondary" href="{% url 'article_list' %}">All Articles.</a>
            </div>
        </div>
        <div class="card-footer text-muted">
            {% for comment in article.comments.all %}
                <span class="font-weight-bold">{{ comment.author }}</span>
                <textarea readonly rows="{{ comment.get_display_rows_count }}" class="form-control card-text"
                          style="resize: none;">{{ comment.comment }}</textarea>
            {% endfor %}
        </div>
    </div>
    <form action="{% url 'comment_create' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <p class="form-text">Add a comment</p>
            <input hidden name="article" type="number" value="{{ article.pk }}">
            <textarea class="form-control" name="comment" rows="5"></textarea>
            <div class="text-right">
                <button type="submit" class="btn btn-success mb-3 mt-3 ml-auto">Comment</button>
            </div>
        </div>
    </form>
{% endblock content %}