{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
        <div class="jumbotron">
            <h1 class="display-4">Newspaper App</h1>
            <p class="lead">A Newspaper website built with Django.</p>
            <hr class="my-2">
            {% if user.is_authenticated %}
                <p class="lead">Welcome {{ user.username }}</p>
            {% else %}
                <p class="lead">
                    Your are not logged in:
                    <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login</a>
                </p>
            {% endif %}
        </div>
{% endblock content %}